<%- include("templates/header") %>
    <p>log in</p>
    <form action="/loginSubmit" method="post" class="form-parent-container" id="loginForm">
        <input name="email" type="email" placeholder="email" />
        <input name="password" type="password" placeholder="password" />
        <button>Submit</button>
    </form>
<%- include("templates/footer") %>
