<%- include("templates/header") %>
    <h1>Hello, <%- user %>!</h1>
    <div class="member-image-container">
        <img src="/<%- randomImage %>" alt="Random Image" class="member-image">
    </div>
    <a href="/Logout">Sign out</a>
<%- include("templates/footer") %>